<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Mi Carrito - Digital Travel</title>
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <section class="nicocart">
            <form action="/" method="POST" class="formcart">
                <h2>Detalle de Compra</h2>
                <article>
                    <img src="/images/radisson.jpg" alt="Radisson New York" class="imagencart">
                    <p>Radisson Hotel New York</p>
                    <p>Habitación: Doble Deluxe</p>
                    <p>IN: 11/09/2021</p>
                    <p>OUT: 19/09/2021</p>
                    <p>Precio: USD 529</p>
                </article>
                <article>
                    <img src="/images/ar.png" alt="Radisson New York" class="imagencart">
                    <p>AR - Buenos Aires - New York - Buenos Aires</p>
                    <p>IN: 10/09/2021 - AR1300 Sale: 22.30 Llega: 08.35</p>
                    <p>OUT: 19/09/2021 - AR1301 Sale: 21.00 Llega: 04.05</p>
                    <p>Precio: USD 750</p>
                </article>
                <button type="submit">Comprar</button>
                <button type="reset">Vaciar carrito</button>

            </form>
        </section>
    </main>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>