<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
    <title>Agregar Producto</title>
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main class="tituloEdicion">
        <section>
            <h1>Crear Articulo</h1>
            <form method="POST" class='form'>
                <input type="text" name="destino" required placeholder="Nombre del Producto">
                    <br>
                <input type="text" name="destino" required placeholder="Descripcion">
                    <br>
                <input type="file" name="destino" required placeholder="Imagen">
                    <br>
                <input type="text" name="destino" accept=".jpg" required placeholder="Categoria">
                    <br>
                <input type="text" name="destino" required placeholder="Precio">
                    <br>
                
                    <button type="submit">Crear</button>    
            </form>
        </section>
    </main>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>