<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
    <title>Mi Carrito - Digital Travel</title>
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <section>
            <form>
                <input type="text" name="destino" required placeholder="Nombre del Producto">
                    <br>
                <input type="text" name="destino" required placeholder="Descripcion">
                    <br>
                <input type="image" name="destino" required placeholder="Imagen">
                    <br>
                <input type="text" name="destino" required placeholder="Categoria">
                    <br>
                <input type="text" name="destino" required placeholder="Precio">
                    <br>
                
                    <button type="submit">Crear</button>    
            </form>
        </section>
    </main>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>