<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Travel</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div><a href="/"><img src="images/logoavion.png" alt="Logo Digital Travel" class="logo"></a></div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Digital Travel</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fas fa-plane"></i> Aereos</a></li>
                    <li><a href="#"><i class="fas fa-hotel"></i> Hoteles</a></li>
                    <li><a href="#"><i class="fas fa-hiking"></i> Excursiones</a></li>
                    <li><a href="#"><i class="fas fa-car"></i> Autos</a></li>
                    <li><a href="#"><i class="fas fa-clinic-medical"></i> Asistencia</a></li>
                    <li><a href="#"><i class="fas fa-search-dollar"></i> Ofertas</a></li>
                    <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/register"><i class="fas fa-user-plus"></i></i></a></li>
                </ul>
            </div>
        </nav>
        <ul class="burger-menu">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bars burger"></i> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fas fa-plane"></i> Aereos</a></li>
                    <li><a href="#"><i class="fas fa-hotel"></i> Hoteles</a></li>
                    <li><a href="#"><i class="fas fa-hiking"></i> Excursiones</a></li>
                    <li><a href="#"><i class="fas fa-car"></i> Autos</a></li>
                    <li><a href="#"><i class="fas fa-clinic-medical"></i> Asistencia</a></li>
                    <li><a href="#"><i class="fas fa-search-dollar"></i> Ofertas</a></li>
                    <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/register"><i class="fas fa-user-plus"></i></i></a></li>
                </ul>
            </li>
        </ul>
    </header>
    <main class='homepaisaje'>
    <section class='busquedas'>
            <div class='busqueda' action="#" method="GET">
                    <p>¿A donde quiere ir?</p>
            </div>
            <div class='busqueda' action="#" method="GET">
                <p>¿Cuando quiere viajar?</p>
            </div>
    </section> 
    <section class="ofertasinicio"></section>
            <div class='propagandas'>
                <article>
                    <img src="images/bariloche.jpg" alt="Bariloche" class='imagenofertainicio'>
                        <div class='descofertainicio'>
                            <h3>Baroliche</h3>
                            <p>Visita una de las ciudades mas lindas de Argenitna</p>
                            <p>10% off en vuelos y hoteles</p>
                            <p></p>
                        </div>
                </article>
                <article>
                    <img src="images/hotelpresidente.jpg" alt="Hotelpresidente" class='imagenofertainicio'>
                        <div class='descofertainicio'>
                            <h3>Hotel Presidente</h3>
                            <p>Alojate en este increible hotel</p>
                            <p>20% off</p>
                            <p>$5000 /Noche</p>
                        </div>
                </article>
                <article>
                    <img src="images/avionvolando.jpg" alt="Avion" class='imagenofertainicio'>
                        <div class='descofertainicio'>
                            <h3>DIGITAL Airlines</h3>
                            <p>Vola tranquilo</p>
                            <p>20% off</p>
                            <p></p>
                        </div>
                </article>
            </div>
        </section>
    </main>
    <footer>

    </footer>

</body>

</html>