<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ingresá a tu cuenta</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div><a href="/"><img src="images/logoavion.png" alt="Logo Digital Travel" class="logo"></a></div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Digital Travel</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fas fa-plane"></i> Aereos</a></li>
                    <li><a href="#"><i class="fas fa-hotel"></i> Hoteles</a></li>
                    <li><a href="#"><i class="fas fa-hiking"></i> Excursiones</a></li>
                    <li><a href="#"><i class="fas fa-car"></i> Autos</a></li>
                    <li><a href="#"><i class="fas fa-clinic-medical"></i> Asistencia</a></li>
                    <li><a href="#"><i class="fas fa-search-dollar"></i> Ofertas</a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="formLogin">
    <h1 align="center">
        Login
    </h1>
    <section>
        <form action="/registro" method="POST">
             <input type="text" name="usuario" required placeholder="Usuario">
             <input type="password" name="contraseña" required placeholder="Contraseña">
             <button type="submit">Iniciar sesión </button>
        </form>
    </section>
</body>
</main>
<footer>
    <section>
        <div>
            <i class="fas fa-envelope-open-text"></i>
            <h3>Contacto</h3>
            <p>Correo: info@digitaltravel.com</p>
            <p>Telefono: 5263-9691</p>
        </div>
        <div>
            <i class="far fa-address-card"></i>
            <h3><a href='#''>Sobre Nosotros</a></h3>
            <p>Enterate un poco de nuestra historia y porque somos lideres en el mercado
            </p>
        </div>
        <div>
            <i class="fab fa-cc-visa"></i>
            <h3><a href='#'>Formas de Pago</a></h3>
            <p>Aprovecha los increibles descuentos que tenemos con Visa y Amex
            </p>
        </div>
    </section>


</footer>
</html>