<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>producto</title>
</head>
<body>
    <p>
        Detalle del producto
    </p>
<section>
    Producto
</section>
<section>
    Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. vAcá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. Acá va la descripción del producto. 
</section>
</body>
<footer></footer>
</html>