<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Detalle del producto</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
</head>

<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div><a href="/"><img src="images/logoavion.png" alt="Logo Digital Travel" class="logo"></a></div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Digital Travel</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#"><i class="fas fa-plane"></i> Aereos</a></li>
                <li><a href="#"><i class="fas fa-hotel"></i> Hoteles</a></li>
                <li><a href="#"><i class="fas fa-hiking"></i> Excursiones</a></li>
                <li><a href="#"><i class="fas fa-car"></i> Autos</a></li>
                <li><a href="#"><i class="fas fa-clinic-medical"></i> Asistencia</a></li>
                <li><a href="#"><i class="fas fa-search-dollar"></i> Ofertas</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/register"><i class="fas fa-user-plus"></i></i></a></li>
            </ul>
        </div>
    </nav>
    <ul class="burger-menu">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bars burger"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fas fa-plane"></i> Aereos</a></li>
                <li><a href="#"><i class="fas fa-hotel"></i> Hoteles</a></li>
                <li><a href="#"><i class="fas fa-hiking"></i> Excursiones</a></li>
                <li><a href="#"><i class="fas fa-car"></i> Autos</a></li>
                <li><a href="#"><i class="fas fa-clinic-medical"></i> Asistencia</a></li>
                <li><a href="#"><i class="fas fa-search-dollar"></i> Ofertas</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/register"><i class="fas fa-user-plus"></i></i></a></li>
            </ul>
        </li>
    </ul>
</header>
<main>

    <body>
        <div class="flex-container">
            <section>
                <img width=200px src="images/maldivas.jpg" alt="Foto de las Maldivas">

            </section>

            <section class="flex-container-2">
                <div> <h2>
                    Producto
                </h2></div>
                <div class="textoProduct">El Sandy Heaven Maldives ofrece conexión WiFi gratuita y se encuentra en el atolón Malé Sur, a solo 30 minutos en lancha rápida del aeropuerto internacional de Velana. También cuenta con recepción 24 horas y restaurante. El hotel cuenta con una zona de playa privada.

                    Las habitaciones del hotel Sandy heaven muestran las tradiciones de diseños arquitectónicos de las Maldivas. Todas las habitaciones del hotel están equipadas con TV de pantalla plana. Todas las habitaciones disponen de baño privado con artículos de aseo gratuitos, mientras que algunas ofrecen vistas a la ciudad.
                    
                    El Sandy Heaven Maldives sirve un desayuno continental. El hotel alberga el restaurante Fulhoi. También se ofrecen comidas privadas.
                    
                    El alojamiento se encuentra a 1,1 km de la ciudad de Malé y a 600 metros de Maafushi. El aeropuerto más cercano es el aeropuerto internacional de Malé, ubicado a 1,6 km del Sandy Heaven Maldives.
                    
                    A las parejas les encanta la ubicación — Le han puesto un 9,6 para viajes de dos personas.
                
                </div>
                <div>
                 fecha: 20 de enero al 1 de febrero
                </div>
                <div class="precioProduct">Precio final: 4000usd</div>
            </section>
        </div>
    </body>
</main>
<footer>
    <section>
        <div>
            <i class="fas fa-envelope-open-text"></i>
            <h3>Contacto</h3>
            <p>Correo: info@digitaltravel.com</p>
            <p>Telefono: 5263-9691</p>
        </div>
        <div>
            <i class="far fa-address-card"></i>
            <h3><a href='#''>Sobre Nosotros</a></h3>
            <p>Enterate un poco de nuestra historia y porque somos lideres en el mercado
            </p>
        </div>
        <div>
            <i class="fab fa-cc-visa"></i>
            <h3><a href=' #'>Formas de Pago</a></h3>
            <p>Aprovecha los increibles descuentos que tenemos con Visa y Amex
            </p>
        </div>
    </section>


</footer>

</html>