<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate en Digital Travel</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
    </header>
    <main>
        <section>
            <form action="/" method="POST" class="formregister">
                <input type="text" name="name" required placeholder="Nombre y Apellido">
                <input type="text" name="passport" required placeholder="Número de Pasaporte">
                <input type="text" name="username" required placeholder="Nombre de Usuario">
                <input type="password" name="password" required placeholder="Contraseña">
                <input type="password" name="repassword" required placeholder="Confirmar Contraseña">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>

</body>

</html>