<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate - Digital Travel</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div><a href="/"><img src="images/logoavion.png" alt="Logo Digital Travel" class="logo"></a></div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Digital Travel</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fas fa-plane"></i> Aereos</a></li>
                    <li><a href="#"><i class="fas fa-hotel"></i> Hoteles</a></li>
                    <li><a href="#"><i class="fas fa-hiking"></i> Excursiones</a></li>
                    <li><a href="#"><i class="fas fa-car"></i> Autos</a></li>
                    <li><a href="#"><i class="fas fa-clinic-medical"></i> Asistencia</a></li>
                    <li><a href="#"><i class="fas fa-search-dollar"></i> Ofertas</a></li>
                    <li><a href="#"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <form action="/" method="POST" class="formregister">
                <input type="text" name="name" required placeholder="Nombre y Apellido">
                <input type="text" name="passport" required placeholder="Número de Pasaporte">
                <input type="text" name="username" required placeholder="Nombre de Usuario">
                <input type="password" name="password" required placeholder="Contraseña">
                <input type="password" name="repassword" required placeholder="Confirmar Contraseña">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>

</body>

</html>