* {
    box-sizing: border-box;
    
}

body{
background-color: black;

}

.logo{
    width: 8vw;
    padding: 15px;
    min-width: 100px;
    color: rgb(173, 130, 0);
}

.title{
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    color: rgb(173, 130, 59);
    margin: auto;
    padding-top: 10px;
    text-align: center;
}
main {
    margin: 0 auto;
    background-color: #000000;

}

main section{
    width: 80%;
    margin: auto;
}


.loginSection{
    margin-top: 20vh;
}

.registerSection{
    margin-top: 5vh;
}


.propagandas article {
    margin: 30px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: solid 1px;
    padding: 15px;

}


.imagenofertainicio{
    width: 100%;
    border-radius: 5px;
    margin:auto;
    padding: 20px;
}

.imagebox{
    width: 60%;
    border-radius: 5px;
    margin:auto;
}

.descofertainicio {
    width: 100%;
    flex-wrap: wrap;
    padding: 45px;
}

.descofertainicio h3 a{
    text-decoration: none;
}

nav.navbar.navbar-inverse{
    margin-bottom: 0px;
}


nav.navbar.navbar-inverse div ul{
    display: none;
}


ul.burger-menu {
    text-align: center;
    background-color: #222;
    margin-bottom: 0px;
}

ul.burger-menu i {
    background-color: #FFF;
    border-radius: 5px;
    color: #222;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}


main section form.formcart h2{
min-width: 250px;
}


.imagencart{
    width: 20vw;
    padding-bottom: 15px;
    min-width: 200px;
    border-radius: 5px;
}

.formcart article{
    display: flex;
    flex-wrap: wrap;
    width: 150%;
    min-width: 200px;
    max-width: 600px;

}

.formcart article p{
    background-color: rgb(143, 177, 189);
    border-radius: 10px;
    padding-left: 10px;
    width: 150%;
    min-width: 200px;
    max-width: 600px;
}

.formError{
color: red;
}

.form, .formcart{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    padding: 60px;
}

.formHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    padding: 80px;

}




.form input, .formHome input, .form button, .formHome button, .formcart button, .mainProductDetail, .button{
    width: 80%;
    min-width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(250, 219, 191);
    
}

.form button,.formHome button, .formcart button, .button{
    color:rgb(46, 45, 45);
    background-color: rgb(250, 219, 191);
}

.button{
    width: 100%;
}

.products-list{
    display: flex;
    justify-content: space-between;
    flex-flow: column;

}

.products-list article{
        padding: 20px;
        background-color: #FFF;
        margin: 15px;
        margin-bottom: 0px;
}

.sale{
    width: 50px;
    color: red;
}

.textoProduct{
    text-align: justify;
}

.loginForm{
    width: 50%;
}

footer{
    margin-bottom: 0px;
}

footer section{
    display: flex;
    justify-content: space-between;
    background-color: #222;
}

footer section div {
    text-align: center;
    padding: 20px;
    color: #666;
    width: 30%;
}

/* Cuando paso el cursor por el DIV, debo cambiar el color del ICONO */

footer section div h3 {
    margin-bottom: 0px;
}

footer section div p {
    margin-top: 0px;
}

.icono-footer {
    color: #1259c3;
    font-size: 2em;
    padding-bottom: 10px;
}





@media (min-width: 361px) {


}




@media (min-width: 769px) {
    .homeMain{
        display: flex;
        padding: 100px;

    }

    .formHome {
    padding: 20px;
width: 50vw;

}

    .carousel{
margin: auto;
    }
    .datesHome{

    }

    .nameHome {
width: 40%;
height: 40%;

}

    .title:hover{
    color: rgb(172, 117, 29);
    text-decoration: none;

}

    .form button:hover, .formHome button:hover, .formcart button:hover, form button:hover{
    color: #f0f9fe;
    background-color:rgb(152, 134, 90);

}
    ul.burger-menu{
        display: none;
    }

    nav.navbar.navbar-inverse div ul{
        display: block;

    }

    .formcart article p:hover{
        background-color: rgb(88, 111, 120);
        width: 100%;
        }

    .propagandas{
    display: flex;
    }    

    .propagandas article {
        width: 33%;
        margin: 20px;

}

    .descofertainicio article:hover {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
        }

    .flex-container {
        display: flex;
        padding: 50px;
        border: 2px black;
        flex-flow: row;
    }
    .flex-container section img{
      width: 400px;  
    }

    .links {
    padding-top: 100px;
    }


    .form input, .form button, .formcart button, .mainProductDetail, .button{
    width: 80%;
    min-width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(250, 219, 191);
    
}
.products-list article{
    display: flex;}

}




