<section>
    <div>
        <i class="fas fa-envelope-open-text"></i>
        <h3>Contacto</h3>
        <p>info@digitaltravel.com</p>
    </div>
    <div>

    </div>
    <div>
        <i class="fab fa-cc-visa"></i>
        <img src="/images/mercadopago.png" width="10%">
        <h3>Formas de Pago</h3>
    </div>
</section>