<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Admin</title>
</head>

<header>
    <%- include ("../partials/header") %>
</header>
<main>

    <body>
        <div class="products-list">

            <article>

                <section>
                    <br><br>
                    <div>
                        <h3>Administrar Productos</h3>
                        <a href="/products/create">
                            <button type="submit" class="btn btn-warning">Agregar Producto</button>
                        </a>
                    </div>
                    <div>
                        <br>
                        <h3>Administrar Usuarios</h3>
                        <a href="/admin/users">
                            <button type="submit" class="btn btn-warning">Listar Usuarios</button>
                        </a>

                    </div>

                </section>
            </article>

        </div>
    </body>
</main>
<footer>
    <%- include ("../partials/footer") %>
</footer>

</html>