<section>
    <div>
        <i class="fas fa-envelope-open-text"></i>
        <h3><a href="mailto:info@digitaltravel.com" class="links">Contacto</a></h3>
        <p>Correo: info@digitaltravel.com</p>
        <p>Telefono: 5263-9691</p>
    </div>
    <div>
        <i class="far fa-address-card"></i>
        <h3><a href='#' class="links">Sobre Nosotros</a></h3>
        <p>Enterate un poco de nuestra historia y porque somos lideres en el mercado
        </p>
    </div>
    <div>
        <i class="fab fa-cc-visa"></i>
        <h3><a href='#' class="links">Formas de Pago</a></h3>
        <p>Aprovecha los increibles descuentos que tenemos con Visa y Amex
        </p>
    </div>
</section>