<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Login - Digital Travel</title>
</head>

<body style="background-color: #000000;">


    <main>
        <section class="loginSection">
            <form action="/login" method="POST" class="form"
                style="background-color: #ffffff; width: 100%; border-radius: 10vw;">
                <a href="/"><img src="/images/logoavion.png" alt="Logo Digital Travel" class="logo"></a>
                <h3>Digital Travel</h3>
                <br>
                <% if (locals.errors && errors.email) { %>
                    <div class="formError">
                        <%= errors.email.msg %>
                            <i class="fas fa-exclamation" style="font-size: 20px; margin-left: 5px;"></i>
                    </div>
                    <% } %>
                        <input type="email" name="email" required placeholder="E-mail">
                        <input type="password" name="password" required placeholder="Contraseña">
                        <input type="checkbox" name="rememberme">Recordar mi usuario
                        <button type="submit">Iniciar sesión </button>
            </form>
        </section>
    </main>



</body>

</html>