<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Login - Digital Travel</title>
</head>

<body>

    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <section>
            <form action="/login" method="POST" class="form">
                <h3>Login</h3>
                <br>
                <% if (locals.errors && errors.email) { %>
                    <div class="formError">
                        <%= errors.email.msg %>
                            <i class="fas fa-exclamation" style="font-size: 20px; margin-left: 5px;"></i>
                    </div>
                    <% } %>
                        <input type="email" name="email" required placeholder="E-mail">
                        <input type="password" name="password" required placeholder="Contraseña">
                        <input type="checkbox" name="rememberme">Recordar mi usuario
                        <button type="submit">Iniciar sesión </button>
            </form>
        </section>
    </main>


    <footer>
        <%- include ("../partials/footer") %>
    </footer>
</body>

</html>