<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Registrate - Digital Travel</title>
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <section>
            <form action="/" method="POST" class="form">
                <h3>Registrate</h3>
                <input type="text" name="fisrtName" required placeholder="Nombre">
                <input type="text" name="lastName" required placeholder="Apellido">
                <input type="email" name="email" required placeholder="E-mail">
                <input type="password" name="password" required placeholder="Contraseña">
                <input type="password" name="repassword" required placeholder="Confirmar Contraseña">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </section>
    </main>
    <footer>
        <%- include ("../partials/footer") %>

    </footer>

</body>

</html>